li,
button {
  color: var(--main-text-color);
  border: none;
  display: block;
  padding: 0.2rem;
  margin: 1rem 0;
  font-size: 2rem;
  border-radius: 5rem;
  cursor: pointer;
  background: var(--main-dark-blue-color);
  width: 25rem;
}

div.navbar {
  display: flex;
  width: 100%;
  margin-left: 2.2rem;
}

ul {
  margin-block-start: 0px;
  list-style: none;
}

.footer {
  display: flex;
  position: fixed;
}

.media {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  background-color: var(--main-div-background-color);
}

.fa-facebook {
  color: #2d88ff;
}

.fa-linkedin {
  color: #0a66c2;
}

.fa-github {
  color: rgb(240 246 252 / 70%);
}

.social {
  background: none;
}
