.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.name {
  font-size: 3.5rem;
}

.title {
  font-size: 2.5rem;
}

li,
button {
  color: var(--main-text-color);
  border: none;
  display: block;
  padding: 0rem;
  margin: 1rem 0;
  font-size: 2rem;
  border-radius: 5rem;
  cursor: pointer;
  background-image: linear-gradient(var(--main-dark-blue-color),var(--main-action-color),var(--main-dark-blue-color));
  width: 25rem;
  line-height: 4.5rem;
}

div.navbar {
  display: flex;
  width: 100%;
  margin-left: 2.2rem;
}

ul {
  margin-block-start: 0px;
  list-style: none;
}

.footer {
  display: flex;
  position: fixed;
}

.media {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  font-size: 4rem;
  background-image: none;
}

.fa-facebook {
  color: #2d88ff;
}

.fa-linkedin {
  color: #0a66c2;
}

.fa-github {
  color: rgb(240 246 252 / 70%);
}

.social {
  background: none;
}
