.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15rem;
}

.about,
.about > .title {
  position: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
}

[class^="row-"] {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  width: 100%;
}

[class^="col-"] {
  display: flex;
  margin: 10px 50px;
  width: 30%;
  object-fit: cover;
}

h1 {
  display: flex;
  margin-top: -22rem;
  text-align: center;
  color: black;
  text-shadow: .1rem .1rem  var(--main-action-color);
}

.text > h5 {
  font-size: 1.5rem;
}

.activity {
  width: 24rem;
  height: auto;
}

/*Tucker additional Info*/
.tuckerText {
  position: fixed;
  width: 15.8%;
  margin-top: 24rem;
  transition: 0.5s ease;
  text-align: center;
  opacity: 1%;
}

.tuckerText > .text > h5 {
  display: flex;
  margin-right: -4rem;
}

.tuckerText > .text {
  color: white;
  display: flex;
  margin-left: -3rem;
  justify-content: center;
}

/*Tucker hover specifics*/
.row-1 > .col-2:hover img {
  transition: 0.5s ease;
  opacity: 0.3;
  backface-visibility: hidden;
}

.row-1 > .col-2:hover .tuckerText {
  opacity: 1;
  transition: 0.5s ease;
}

/*Gorge image additional info*/
.gorgeText {
  position: fixed;
  width: 15.8%;
  margin-top: 24rem;
  transition: 0.5s ease;
  text-align: center;
  opacity: 1%;
}

.gorgeText > .text > h5 {
  display: flex;
  margin-right: -8rem;
}

.gorgeText > .text {
  color: white;
  display: flex;
  margin-left: -9.5rem;
  justify-content: center;
}

/*Gorge hover specifics*/
.row-1 > .col-1:hover img {
  transition: 0.5s ease;
  opacity: 0.3;
  backface-visibility: hidden;
}

.row-1 > .col-1:hover .gorgeText {
  opacity: 1;
  transition: 0.5s ease;
}

/*Whiskey additional Info*/
.whiskeyText {
  position: fixed;
  width: 15.8%;
  margin-top: 24rem;
  transition: 0.5s ease;
  text-align: center;
  opacity: 1%;
}

.whiskeyText > .text > h5 {
  display: flex;
  justify-content: center;
  margin-top: -19rem;
  margin-left: 3.7rem;
  margin-right: -4rem;
}

.whiskeyText > .text {
  color: white;
  display: flex;
  margin-left: -8rem;
  justify-content: center;
}

/*Whiskey hover specifics*/
.row-2 > .col-1:hover img {
  opacity: 0.3;
  backface-visibility: hidden;
}

.row-2 > .col-1:hover .whiskeyText {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

/*Image formatting*/
.about > .container > .row-1 {
  display: flex;
  justify-content: space-evenly;
}

.tucker,
.gorge {
  margin-top: 12rem;
  width: 24rem;
}

.about > .container > .row-2 {
  margin-top: -12rem;
}

.about > .container > .row-2 > .col-1 {
  overflow: hidden;
  justify-content: center;
}

.about > .container > .row-1 > .col-2 {
  margin-left: 5rem;
  justify-content: flex-end;
}
