.home > h1 {
  position: fixed;
  margin-top: -39rem;
  font-size: 10rem;
  color: black;
  text-shadow: .3rem .3rem  var(--main-action-color);
}

.home > h3 {
  position: fixed;
  font-weight: 400;
  margin-top: -28rem;
  padding-top: 1rem;
  font-size: 3rem;
  color: black;
  text-shadow: .1rem .1rem  var(--main-dark-blue-color);
}

.home > .content {
  position: fixed;
  display: flex;
  flex-direction: column;
  color: var(--main-text-color);
  left: 48rem;
  right: 17rem;
  padding: 0px 2rem;
}

p.one, p.two, p.three {
  width: 50%;
}

p.one {
  margin-top: 12rem;
  justify-content: flex-start;
}

p.two{
  margin: 0 auto;
}

p.three {
  float: right;
}