.home > h1 {
  position: fixed;
  margin-top: -39rem;
}

.home > h3 {
  position: fixed;
  font-weight: 400;
  margin-top: -31rem;
  padding-top: 1rem;
}

.home > .content {
  position: fixed;
  display: flex;
  flex-direction: column;
  color: var(--main-text-color);
  margin: 0px 25rem;
}

.home > div .second {
  display: flex;
  justify-content: space-between;
}

.home > .content > .one {
  width: 30%;
  margin-top: 7rem;
  margin-left: 26rem;
  margin-right: 26rem;
}

.home > .content > div .two {
  margin-bottom: -12rem;
  width: 40%;
}

.home > .content > div .three {
  margin-bottom: -12rem;
  width: 40%;
}
