/*html {
  height: 100%;
  background-si*/


body {
  background-image: url("./images/widescreenForest.jpeg");
  background-attachment: fixed;
  display: flex;
  margin-top: 90rem;
  position: sticky;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  width: 2560px;

}